import React from 'react';


export interface {{pascalCase name}}Props {
}


const {{name}}: React.FC<{{pascalCase name}}Props> = (props) => {
  const {} = props

  return <div></div>
  };

  export default {{name}};
